<!DOCTYPE html>

<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="The third project for Internet Programming Class">
<meta name="author" content="szczepp3">
<title> URL shortener </title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}" />
</head>


<body>
	<div class = "wrapper">
		<article>
			<header class="clickable">
				<h1 id ="header1"> Sign In </h1>
			</header>
		</article>

		<div class="content">
			<div class="main">

				<article>
					    <h2 id="form_header">Fill in your details to sign in</h2>
						<form method="post" id="signin" name="sigin" enctype="multipart/form-data" action="{{ url_for('validate') }}"/>
							<div>
								<label for="login" class="label"> Login </label>
								<input type="text" name="login" id="login" >
							</div>
							<div>
								<label for="password" class="label"> Password </label>
								<input type="password" name="password" id="password" >
							</div>
								<input type="submit" value="Submit" name="submit_button" id="submit_button">
							</div>
						</form>

				</article>

				<article>
					<h2> W3 HTML Validator </h2>
					<a id ="validatorW3" href="https://validator.w3.org/" >Validate</a>
				</article>
			</div>
		</div>
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
                <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
                <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>

				<script type="text/javascript" src="{{ url_for('static',filename='js/form_validator.js') }}"></script>
	</div>
</body>
</html>
