<!DOCTYPE html>

<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="description" content="The third project for Internet Programming Class">
<meta name="author" content="szczepp3">
<title> Shortened links </title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}" />
<script type="text/javascript">
	var username = '{{ usernameP }}';
	var links = '{{ linksP }}';
	alert(username);
</script>
</head>


<body>
	<div class = "wrapper">
		<article>
			<header class="clickable">
				<h1 id ="header1"> Shortened Links </h1>
			</header>
		</article>

		<div class="content">
			<div class="main">
				<article>
					<h2> W3 HTML Validator </h2>
					<a id ="validatorW3" href="https://validator.w3.org/" >Validate</a>
				</article>
			</div>
		</div>
                <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
				<script type="text/javascript" src="{{ url_for('static',filename='js/url_lister.js') }}"></script>
	</div>
</body>
</html>
